<component name="libraryTable">
  <library name="Spring-4.3.18.RELEASE" type="spring">
    <properties version="4.3.18.RELEASE" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/spring-beans-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-instrument-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-core-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-instrument-tomcat-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-aspects-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-context-support-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-jms-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-oxm-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-test-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-orm-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-tx-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/aopalliance-1.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-messaging-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/commons-logging-1.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-context-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-jdbc-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-aop-4.3.18.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/spring-expression-4.3.18.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>